<div class="header">
  <h1 class="indexHeader">Welcome to My Rails webApp</h1>
</div>

<!-- lets just test text-muted to check if bootstrapy trapy is there-->
<p class="text-muted">Product Images.</p>


<div id="testRow" class="row justify-content-around">

  <div class="col-12 col-sm-6 col-md-3 box align-self-center">
    <%= image_tag("dummy_01.jpg", class: "img-fluid") %>
  </div>

  <div class="col-12 col-sm-6 col-md-3 box align-self-center">
    <%= image_tag("dummy_02.jpg", class: "img-fluid") %>
  </div>

  <div class="col-12 col-sm-6 col-md-3 box align-self-center">
    <%= image_tag("dummy_03.jpg", class: "img-fluid") %>
  </div>

  <div class="col-12 col-sm-6 col-md-3 box align-self-center">
    <%= image_tag("dummy_04.jpg", class: "img-fluid") %>
  </div>

</div>
