<div class="header">
  <h1 class="indexHeader">Welcome to My Rails webApp</h1>
</div>

<!-- lets just test text-muted to check if bootstrapy trapy is there-->
<a href="/products/" class="btn btn-primary">View & Manage Products</a>
