/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 // *= require_self
 */
 // @import 'bootstrap-sprockets';
 // *= require_tree .
 @import "bootstrap";

/*  Variables  */
$colorLink-light: #E6FDFF;
$colorLink-light-hover: #B8DDE0;
$colorBkg-dark: #505963;
$boxShadow-down-01: 0px 0px 15px rgba(0, 0, 0, 0.8);
$boxShadow-top-01: 0px 0px 15px rgba(0, 0, 0, 0.8);
$indexTop : 100;
/*  MENU  */
#menu{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $colorBkg-dark;
  box-shadow: $boxShadow-down-01;
  z-index: $indexTop;
  // nav items
  .navbar-nav{
    padding-right: 2vw;
  }
  // button
  button{
    color: $colorLink-light;
  }
  button:hover{
    color: $colorLink-light-hover;
  }
  // links
  a{
    text-transform: uppercase;
  }
  a:hover{
    color: $colorLink-light-hover;
  }
  a:active{
    color: $colorLink-light-hover;
  }

  // collapsed
  .show > .navbar-nav{
    padding-right: 3.5vw;
    // fx //
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
  }
  .show{
    padding-bottom: 1vh;
  }

  // logo handler
  .img-logo{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 1.2em;
  }
  // brand handler
  .navbar-brand span{
    margin-left: 1.5em;
  }
}

/* FOOTER */

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $indexTop;
  background-color: $colorBkg-dark;
  box-shadow: $boxShadow-top-01;
  font-size: 0.75em;
  color: $colorLink-light;
  padding-left: 1vw;
  padding-right: 1vw;
}

/*  CONTENT PADDING  */
.content{
  padding-top: 10vh;
}

/* LINKS */
a{
  color: $colorLink-light;
  // fx //
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
a:hover , a:active{
  color: $colorLink-light-hover;
  text-decoration: none;
}
