// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
// CAROUSEL FEATURED
#carousel_featured_container{
  height: 80vh;
  @media (min-width: 550px){height: 90vh;}
}

.carousel-inner{
  height: 90vh;
  width: 100vw;
}

.carousel_image_container{
  overflow: hidden;
  width: 100vw;
  height: 80vh;
  @media (min-width: 550px){height: 90vh;}
  margin-left: -15px;
}

.carousel_image{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  max-height: 80vh;
  @media (min-width: 550px){height: 90vh;}
  min-width: 50vw;
  padding: 8vh;
}

.carousel-caption{
  background-color: $colorBkg-dark;
  opacity: 0.75;
  padding: 1vh;
  padding-bottom: 0;
  color: $colorLink-light;
  text-align: left;
  bottom: 0.51vh;
  // fix inner rows margin
  .row {margin: 0 auto;}
  // title handler
  .caption-header-title , .caption-header-price{
    font-size: 0.75em;
    // re-size text on diff breakpoints
    @media (min-width: 550px){
      font-size: 1.2em;
    }

    background-color: rgba(255,255,255, 0.3);
  }

  // description handler
  .caption-description{
    margin-top: 0.15em;
    background-color: rgba(255,255,255, 0.3);
    min-height: 3em;
    font-size: 0.6em;
    @media (min-width: 550px){font-size: 0.8em;}
  }
  // dollar sign handler
  .dollar{
    font-size: 0.65em;
  }
  // action button handler
  .caption-action{
    text-align: center;
    min-height: 3em;
    // button shape handler
    .btn{
      font-size: 0.7em;
      @media (min-width: 550px){
        font-size: 1em;
      }
      padding: 0.1em 0.5em;
      word-break: keep-all;
    }
  }
}

// carousel controls

.carousel-control{
  i{transition: $transition_fast; -webkit-transition: $transition_fast;}
  width: 10vw;
  transform: scale(1, 2.3);
  color: $colorBkg-dark!important;
  transition: $transition_fadeColor;
  -webkit-transition: $transition_fadeColor;

}

.carousel-indicators{
  position: absolute;
  top: 0;
  height: 2em;
  li{
    margin-top: 0.55em;
    border-radius: 50%;
    background-color: $colorBkg-dark;
    height: 1vh;
    width: 1vh;
  }
}

.carousel-control:hover{
  // color: $colorBkg-transp!important
  opacity: 0.3!important;
  // media query for fx > void small devices scale animation
  @media (min-width: 550px){
    i {transform: scale(2, 3.5);}
  }

}

.carousel-control-next-icon, .carousel-control-prev-icon{
  background-image: url();
}
// END OF CAROUSEL FEATURED

.product_list{
  position: relative;
  min-height: 100%;
}

.card-title{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 2%;
  text-align: center;
  opacity: 0;
  z-index: 2;
}

.card-image{
  position: relative;
  width: 100%;
  height: 30vh;
  overflow: hidden;
}

.card-img-top, .load_image, .loading_gif{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-body{
  position: relative;
  height: 100%;
  font-size: 0.8em;
}

.load_image, .loading_gif{
  width: 15%;
  opacity: 1;
}

.card-img-top{
  opacity: 0;
}
