/*  Variables  */
$colorLink-light: #E6FDFF;
$colorLink-light-hover: #B8DDE0;
$colorBkg-dark: #505963;
$colorBkg-transp: rgba(80, 89, 99, 0.25);
$boxShadow-down-01: 0px 0px 15px rgba(0, 0, 0, 0.8);
$boxShadow-top-01: 0px 0px 15px rgba(0, 0, 0, 0.8);
$indexTop : 100;
$transition_fadeColor: all 250ms ease-in-out;
$transition_fast: all 250ms ease-in-out;
$mediaBreak01: 550px;
