<% if signed_in? %>

  <div class="row m-0 p-0">
    <div class="col m-0 p-0">
      <h4>Add review</h4>

      <%= form_for([@product, @product.comments.build]) do |form| %>

        <div class="form-group">
          <%= form.label :body, "Comment" %>
          <%= form.text_area :body, class: "form-control", placeholder: "Explain your experience with this product to other users" %>
        </div>

        <div class="form-group">
          <label for="rating-stars" class="d-inline">Satisfaction Meter</label>
          <div id="rating-stars" class="rating d-inline"></div>
        </div>

        <%= form.submit "Add review", class: "btn btn-success" %>

      <% end %>
    </div>
  </div>
<% else %>

<div class="row m-0 p-0">
  <div class="col m-0 alert alert-warning text-center">
    <i class="fas fa-exclamation-circle"></i>&nbsp;You must be logged in to post a new review.
  </div>
</div>

<% end %>
